    <%- include('layouts/frontend/head', {
        title : null
    }) %>
     <%- include('layouts/frontend/nav') %>
    <section>
        <div class="container">
            <center class="pt-2"> <h1>About page</h1></center>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla culpa ut quo suscipit fugiat numquam commodi minima quia? Labore dolorum iste placeat nobis magnam fuga!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla culpa ut quo suscipit fugiat numquam commodi minima quia? Labore dolorum iste placeat nobis magnam fuga!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla culpa ut quo suscipit fugiat numquam commodi minima quia? Labore dolorum iste placeat nobis magnam fuga!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla culpa ut quo suscipit fugiat numquam commodi minima quia? Labore dolorum iste placeat nobis magnam fuga!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla culpa ut quo suscipit fugiat numquam commodi minima quia? Labore dolorum iste placeat nobis magnam fuga!</p>
        </div>
    </section>
    <%- include('layouts/frontend/footer') %>