<%- include('../../layouts/dashboard/hade') %>
    <%- include('../../layouts/dashboard/top_nav') %>
        <%- include('../../layouts/dashboard/main_content_tophtmlpart') %>
            <link rel="stylesheet" href="/backend/plugins/select-2/css.css">
            <script src="/backend/plugins/select-2/js.js"></script>
            <script src="/backend/plugins/select-2/tinye.js"></script>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">Static Navigation</li>
                        </ol>
                        <div>
                            <div class="card">
                                <div class="card-hader">
                                    <h2 class="m-2 align-items-center">Creat media</h2>
                                </div>
                                <div class="card-body">
                                    <form method="POST" onsubmit="save_data()" action="/dashboard/media/create"
                                        enctype="multipart/form-data">

                                        <div class="card">
                                            <div class="card-header d-flex justify-content-between">
                                                <h3>Create</h3>
                                                <div>
                                                    <a class="btn btn-sm btn-outline-success"
                                                        href="/dashboard/blog">Back</a>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-8 justify-content-center mx-auto" >
                                                    
                                                        <div class="form-group mb-3">
                                                            <label for="title">title</label>
                                                            <input name="title" id="title" type="text"
                                                                class="form-control">
                                                        </div>

                                                        <div class="form-group mb-3">
                                                            <label for="icon">Icon</label>
                                                            <select name="icon" class="form-control" id="icon">
                                                                <option value="fa fa-facebook">Facebook</option>
                                                                <option value="fa fa-instagram">Instragram</option>
                                                                <option value="fa fa-youtube">Youtube</option>
                                                                <option value="fa fa-twitter">Twitter</option>
                                                                <option value="fa fa-linkedin">Linkedin</option>
                                                                <option value="fa fa-whatsapp">whatsapp</option>
                                                                <option value="fa fa-telegram">telegram</option>
                                                                <option value="fa fa-vimeo">vimeo</option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group mb-3">
                                                            <label for="count">Count</label>
                                                            <input name="count" id="count" type="text"
                                                                class="form-control">
                                                        </div>

                                                        <div class="form-group mb-3">
                                                            <label for="unite">Unite</label>
                                                            <select name="unite"  class="form-control"  id="unite">
                                                                <option value="Like">Likes</option>
                                                                <option value="Followers">Followers</option>
                                                                <option value="Subscribers">Subscribers</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <label for="link">link</label>
                                                            <textarea name="link"  cols="10" rows="5" id="link" type="text"
                                                                class="form-control"></textarea>
                                                        </div>
                                                
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-info">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <style>
                img {
                    object-fit: cover;
                }
            </style>
            <script>



                async function save_data() {
                    event.preventDefault();
                    let form = event.target;

                    [...document.querySelectorAll('.form_error')].forEach(el => el.remove());

                    let formData = new FormData(form);

                    let response = await fetch(`${form.action}`, {
                        method: form.method,
                        headers: {
                            //"Content-Type": "application/json",
                            //'Content-Type': 'application/*',
                        },
                        body: formData,
                    })

                    let status = response.status;
                    let data = await response.json();
                    console.log(data);


                    if (data.hasError) {

                        s_alert('data validation error', 'error')
                        let errors = data.errors;
                        console.log(errors);

                        errors.forEach(el => {
                            document.getElementById(el.path)?.parentNode.insertAdjacentHTML('beforeend', `
                                <div class="form_error text-danger">${el.msg}</div>
                            `)
                        })
                        return 0;
                    }

                    if ([400, 500, 404, 422, 505].includes(status)) {
                        console.log(data);
                        s_alert(data?.error?._message, 'error');
                        throw new Error(data?.error?.message)
                    }
                    s_alert('data uploaded successfully');
                    form.reset();
                    reset_select();
                    console.log(data);
                }


            </script>
            <%- include('../../layouts/dashboard/main_content_bottomhtmlpart') %>