<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="/">
                <div class="sb-nav-link-icon"><i class="fa fa-home"></i></div>
                Home
            </a>
            <a class="nav-link" href="/dashboard">
                <div class="sb-nav-link-icon"><i class="fa fa-dashboard"></i></div>
                Dashboard
            </a>
            <a class="nav-link" href="/dashboard/show_message">
                <div class="sb-nav-link-icon"><i class="fa fa-envelope"></i></div>
                Message
            </a>
            <a class="nav-link" href="/dashboard/setting">
                <div class="sb-nav-link-icon"><i class="fa fa-cog"></i></div>
                setting 
            </a>
            <a class="nav-link" href="/dashboard/users">
                <div class="sb-nav-link-icon"><i class="fa fa-user"></i></div>
                Users
            </a>
            <div class="sb-sidenav-menu-heading">MANAGEMENT</div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                data-bs-target="#collapseLayoutsCategoryManagement" aria-expanded="false"
                aria-controls="collapseLayoutsCategoryManagement">
                <div class="sb-nav-link-icon"><i class="fa fa-list-alt"></i></div>
                Category
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayoutsCategoryManagement" aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordion">

                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/dashboard/category">All</a>
                    <a class="nav-link" href="/dashboard/category/create">Create</a>
                </nav>

            </div>


            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                data-bs-target="#collapseLayoutsCreatorManagement" aria-expanded="false"
                aria-controls="collapseLayoutsCreatorManagement">
                <div class="sb-nav-link-icon"><i class="fas fa-pen"></i></div>
                Writer
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayoutsCreatorManagement" aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordion">

                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/dashboard/writer/all">All</a>
                    <a class="nav-link" href="/dashboard/writer/creator">Create</a>
                </nav>

            </div>


            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                data-bs-target="#collapseLayoutsBannerManagement" aria-expanded="false"
                aria-controls="collapseLayoutsBannerManagement">
                <div class="sb-nav-link-icon"><i class="fa fa-image"></i></div>
                Banner
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayoutsBannerManagement" aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordion">

                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/dashboard/banner">All</a>
                    <a class="nav-link" href="/dashboard/banner/create">Create</a>
                </nav>

            </div>


            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                data-bs-target="#collapseLayoutsTranslatorManagement" aria-expanded="false"
                aria-controls="collapseLayoutsTranslatorManagement">
                <div class="sb-nav-link-icon"><i class="fa fa-language"></i></div>
                Translator
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayoutsTranslatorManagement" aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordion">

                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/dashboard/translator">All</a>
                    <a class="nav-link" href="/dashboard/translator/creator">Create</a>
                </nav>

            </div>


            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-blog"></i></div>
                Blog
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">

                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/dashboard/blog">All</a>
                    <a class="nav-link" href="/dashboard/blog/create">Create</a>
                </nav>

            </div>


            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#mediacollapseLayouts"
                aria-expanded="false" aria-controls="mediacollapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Media
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="mediacollapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">

                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/dashboard/media">All</a>
                    <a class="nav-link" href="/dashboard/media/create">Create</a>
                </nav>

            </div>

        </div>
    </div>
   
</nav>